body {
  font-family: 'PT Sans', sans-serif;
}

header {
  background: #e364b6;


}

a {
  text-decoration: none;
  color: white;
}

.melon-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 65px;
  font-size: 1.3em;
  padding: 1em 2em;

}

.h-link {
  padding: 1em 2.5em 0;
}



.logo {
  font-size: 2.3em;
  margin-right: auto;
  padding-top: .3em;
  font-family: 'The Girl Next Door', cursive;
  float: left;
}

.logo2 {
  color: #97c668; 
}



input {
  margin: 2em;
  padding: 1em;
  width: 15em;
  font-family: 'PT Sans', sans-serif;
  font-size: .8em;
  border-radius: .3em;
}


.user-container {
  /*border: 1px solid black;*/
  /*background: #B4BD00;*/
  background: #97c668;
  width: 35%;
  min-height: 25em;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  color: white;

  /*margin: 2em;*/
}

.user-form {
  padding: 2em;
  /*border: 1px solid black;*/
  width: 100%;
  margin: 0 auto;
  background: #97c668;
}



.submit-button {
  background-color: #e364b6;
  color: white;
  padding: 1em;
  display: block;
  margin: 1.4em 0 0 2em;
  max-width: 65%;
  border-radius: .5em;
  border: none;
  font-size: .8em;
}

.submit-button:hover{
  background: #64b6e3;
}

.user-input-label {
  display: block;
  padding-bottom: em;
  font-size: 2em;
  margin-left: .8em;
  color: white;
}

h2 {
  margin-bottom: 1em;
  font-size: 2em;
  margin-left: .8em;
}

li {
  list-style: none;
}

.user-li{
  padding-top: 1em;
  padding-bottom: .4em;

}

.user-li, .header-li {
  margin-left: 2em;
  font-size: 1.4em;
  position: relative;
  max-width: 60%;
}

.header-li{
  border: 2px solid white;
  border-radius: .2em;
  height: 1.2em;
  padding: .3em 0;
}

.remove-button {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1em;
    margin: 0 0 0 2em;

    font-family: 'memory-header', sans-serif;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 19px;
}

.remove-button:hover {
  color: lightgray;
}


.user-li-fn, .label-fn {
    position: absolute;
    left: 5%;
}

.user-li-ln, .label-ln {
  position: absolute;
  left: 25%;

}

.user-li-email, .label-email {
  position: absolute;
  left: 50%;
}


.label-fn,
.label-ln,
.label-email {
  font-size: 1.1em;
}



.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50%{
    transform: translateX(-8%);
  }
  65%{
    transform: translateX(4%);
  }
  80%{
    transform: translateX(-4%);
  }
  95%{
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50%{
    -webkit-transform: translateX(-8%);
  }
  65%{
    -webkit-transform: translateX(4%);
  }
  80%{
    -webkit-transform: translateX(-4%);
  }
  95%{
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@media (max-width: 1000px) {

  .user-li-fn,
  .label-fn,
  .user-li-ln,
  .label-ln,
  .user-li-email,
  .label-email
  {
    display: block;
    position: relative;
    left: 0;
  }

  .remove-button {
    position: relative;
    display: inline-block;
  }

  .user-li {
    padding: 2em 0;
    position: static;
  }

  .header-li{
    padding: .3em 0;
    height: auto;
  }
}
